<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho(#{titulo_detalhes_nota})}" />
<body>
	<div class="container">
		<div class="row">
			<h1 th:text="#{titulo_detalhes_nota}">Detalhes da Nota</h1>
		</div>
		<div class="row">


			<table class="table table-hover">

				<tr>

					<td th:text="#{valor_nota}">Valor da Nota:</td>
					<td><span th:text="${nota.valor}"></span></td>

				</tr>

				<tr>

					<td th:text="#{descricao}">Descricao:</td>
					<td><span th:text="${nota.descricao}"></span></td>

				</tr>

				<tr>

					<td th:text="#{media_nota}">Média:</td>
					<td><span th:text="${nota.media}"></span></td>

				</tr>

			</table>




		</div>
		<div class="row">
			<a href="/notas"><span th:text="#{retornar}"> Retornar </span></a>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>