<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho(#{titulo_detalhes_produto})}" />
<body>
	<div class="container">
		<div class="row">
			<h1 th:text="#{titulo_detalhes_produto}">Detalhes do Produto</h1>
		</div>
		<div class="row">


			<table class="table table-hover">

				<tr>

					<td th:text="#{nome}">Nome:</td>
					<td><span th:text="${produto.nome}"></span></td>

				</tr>

				<tr>

					<td th:text="#{descricao}">Descrição:</td>
					<td><span th:text="${produto.descricao}"></span></td>

				</tr>

				<tr>

					<td th:text="#{tipo}">Tipo:</td>
					<td><span th:text="${produto.tipo}"></span></td>

				</tr>

				<tr>

					<td th:text="#{valor_produto_anuncio}">Valor Anuncio:</td>
					<td><span th:text="${produto.anuncio.valor}"></span></td>

				</tr>

				<tr>

					<td th:text="#{quantidade_produto_anuncio}">Quantidade de Anuncios:</td>
					<td><span th:text="${produto.anuncio.quantidade}"></span></td>

				</tr>
				
				<tr>

					<td th:text="#{descricao_produto_anuncio}">Descrição de Anuncios:</td>
					<td><span th:text="${produto.anuncio.descricao}"></span></td>

				</tr>
				
				<tr>

					<td th:text="#{nome_produto_loja}">Nome da Loja:</td>
					<td><span th:text="${produto.loja.nome}"></span></td>

				</tr>
				
				<tr>

					<td th:text="#{descricao_produto_loja}">Descrição da Loja:</td>
					<td><span th:text="${produto.loja.descricao}"></span></td>

				</tr>

			</table>




		</div>
		<div class="row">
			<a href="/produtos"><span th:text="#{retornar}"> Retornar </span></a>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>