<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: cabecalho('Consumo do serviço da OpenAI')}" />

<body>

	<div class="container">
		<div>
			<h1><b>ChatGPT - Em que posso ajudar?</b></h1>
		</div>
		<div>
			<form th:action="@{/enviar_chat_gpt}" method="post">
				Digite sua pergunta:
				<input class="form-control" type="text" name="pergunta" id="pergunta"><br>
				<button type="submit">Perguntar </button>
			</form>
		</div>

	</div>

</body>

</html>