<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragmentos :: cabecalho(#{titulo_cad_endereco})}" />
  <body>
    <div class="container">
        <div class="row">
            <h1 th:text="#{titulo_cad_endereco}">Cadastrar Endereço</h1>
        </div>
        <div class="row">
            <form th:object="${endereco}" action="/inserir_endereco" method="post">
            <span th:text="#{cep_endereco}"> CEP: </span> <input class="form-control" type="text" th:field="*{cep}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{cep}"></div><br>
            <span th:text="#{numero_endereco}"> Número: </span> <input class="form-control" type="number" th:field="*{numero}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{numero}"></div><br>
            <span th:text="#{complemento_endereco}"> Complemento: </span> <input class="form-control" type="text" th:field="*{complemento}" th:errorclass="is-invalid">
            <div class="invalid-feedback" th:errors="*{complemento}"></div><br>
			<span th:text="#{latitude}"> Latitude: </span> <input class="form-control" type="text" th:field="*{latitude}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{latitude}"></div><br>
			<span th:text="#{longitude}"> Longitude: </span> <input class="form-control" type="text" th:field="*{longitude}" th:errorclass="is-invalid">
			<div class="invalid-feedback" th:errors="*{longitude}"></div><br>
            <button type="submit"><span th:text="#{btn_cad_endereco}"> Cadastar Endereço </span></button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>